<title>@ViewBag.CurrentApplicationMerchantApp.MerchantAppName</title>
<meta name="viewport" content="width=device-width" />
<script type="text/javascript">
    (function (config) {
        config.RootUrl = "@XCLNetTools.StringHander.Common.RootUri";
        config.AllowUploadExtInfo= "@(ViewBag.AllowUploadExtInfo)";
    })(window.AppConfig = window.AppConfig || {});
</script>

<link href="~/Resources/src/css/Base.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" />
<link href="~/Resources/src/js/bootstrap/css/bootstrap.min.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" />
<link href="~/Resources/src/js/Jcrop/css/jquery.Jcrop.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" />
<link href="~/Resources/src/js/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" />
<link href="~/Resources/src/js/EasyUI/themes/icon.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" />
<link href="~/Resources/src/js/EasyUI/themes/default/easyui.css?v=@(ViewBag.ResourceVersion)" rel="stylesheet" />

<script src="~/Resources/dist/plugins.js?v=@(ViewBag.ResourceVersion)"></script>
<script src="~/Resources/dist/app.js?v=@(ViewBag.ResourceVersion)"></script>
<script type="text/javascript">
    (function (go) {
        go.globalSettings({
            templateName: "artdialog",
            isExclusive:false
        });
    })($.XGoAjax);
    (function (config) {
        config.lock = true;
        config.opacity = 0.2;
        config.resize = true;
        config.path="@Url.Content("~/Resources/src/js/artDialog")";
    })(art.dialog.defaults);
</script>